body {
  background-color: #cae5e6;
}
.App h1{
  margin: 3% 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
  
}
.row {
  display: flex;
}
.btn:hover{
  background-color: red;
}
